<section class="container grid aboutUs">
  <div class="aboutUs__container col_6">
    <h2>About Us</h2>
    <p class="aboutUs__paragraph">
      The model offers a framework for discussing problems related
      to the user's experience, as well as possible ways and means of
      solving them. Application development begins at the top level
      (strategy), where the future software product is described quite
      abstractly from the point of view of the expectations of both
      users and the customer.
    </p>
    <ul class="display_grid gridFlowColumn justifyContentBetween ">
      <li class="aboutUs__item">
        <strong class="aboutUs__itemStatistics aboutUs_itemStatistics">800</strong>
        <span class="aboutUs__itemStatisticsText aboutUs_itemStatisticsText">Pupils</span>
      </li>
      <li class="aboutUs__item">
        <strong class="aboutUs__itemStatistics aboutUs_itemStatistics">18</strong>
        <span class="aboutUs__itemStatisticsText aboutUs_itemStatisticsText">Teachers</span>
      </li>
      <li class="aboutUs__item">
        <strong class="aboutUs__itemStatistics aboutUs_itemStatistics">6</strong>
        <span class="aboutUs__itemStatisticsText aboutUs_itemStatisticsText">Foreign languages</span>
      </li>
    </ul>
  </div>
</section>