<section class="container grid contactUs">
  <div class="col_7 colStart_6 contactUs__container">
    <h2>Contact Us</h2>
    <p class="contactUs__paragraph">
      Discover your current English level by taking our free online English test.Sign<br>
      up to our newsletter for learning tips and free resources
    </p>
    <form class="formSub display_grid gridFlowColumn" action="">
      <input class="formSub__input formSub_input" type="email" placeholder="Enter Your E-mail">
      <button class="btn_style btn_styleSub btn btnSub">Subscribe</button>
    </form>
  </div>
</section>