<footer class="container footer footer_style grid">
  <nav class="navbar col_12 display_grid gridFlowColumn justifyContentBetween alignItemsCenter">
    <a class="poppins_regular fontSize_36 lineHeight_54 text_black" href="">brit<span class="text_paleBlue">lex</span></a>
    <ul class="footer__nav display_grid gridFlowColumn justifyContentBetween text_darkGreyBlue poppins_medium fontSize_24 lineHeight_36">
      <li class="footer__navItem"><a href="">Terms and Conditions</a></li>
      <li class="footer__navItem">•</li>
      <li class="footer__navItem"><a href="">Privacy Policy</a></li>
      <li class="footer__navItem">•</li>
      <li class="footer__navItem"><a href="">Cookie Policy</a></li>
    </ul>
  </nav>
</footer>