<header class="container header grid">
  <nav class="navbar">
    <a class="siteName siteName_style" href="">brit<span class="siteName_styleLex">lex</span></a>
    <ul class="nav header__nav text_darkGreyBlue">
      <li><a href="">home</a></li>
      <li><a href="">skills</a></li>
      <li><a href="">about us</a></li>
      <li><a href="">pricing</a></li>
      <li><a href="">contacts</a></li>
    </ul>
    <div class="hamburgerMenu">
      <input class="hamburgerMenu__toggle" type="checkbox" id="hamburgerMenu__toggle">
      <label class="hamburgerMenu__btn" for="hamburgerMenu__toggle">
        <span class="hamburgerMenu__btnItem"></span>
      </label>
      <nav class="hamburgerMenu__navbar">
        <label class="hamburgerMenu__close" for="hamburgerMenu__toggle">
          <span class="hamburgerMenu__closeItem"></span>
        </label>
        <a class="siteName siteName_style" href="">brit<span class="siteName_styleLex">lex</span></a>
        <ul class="hamburgerMenu__nav">
          <li class="hamburgerMenu__item">home</li>
          <li class="hamburgerMenu__item">skills</li>
          <li class="hamburgerMenu__item">about us</li>
          <li class="hamburgerMenu__item">pricing</li>
          <li class="hamburgerMenu__item">contacts</li>
        </ul>
        <a class="btn_style btn_styleHeader btn btnHamburgerMenu" href="">let's talk</a>
      </nav>
    </div>
    <a class="btn_style btn_styleHeader btn btnHeader" href="">let's talk</a>
  </nav>
</header>