<header class="container header grid">
  <nav class="navbar">
    <a class="siteName" href="">brit<span class="siteName__lex">lex</span></a>
    <ul class="nav header__nav text_darkGreyBlue fontSize_20 lineHeight_30">
      <li><a href="">home</a></li>
      <li><a href="">skills</a></li>
      <li><a href="">about us</a></li>
      <li><a href="">pricing</a></li>
      <li><a href="">contacts</a></li>
    </ul>
    <a class="btn_style btn_styleHeader btn btnHeader" href="">let's talk</a>
  </nav>
</header>