<header class="container header grid">
  <nav class="navbar col_12 display_grid  gridFlowColumn justifyContentBetween alignItemsCenter">
    <a class="poppinsRegular poppinsRegular_36 text_black" href="">brit<span class="text_paleBlue">lex</span></a>
    <ul class="nav display_grid gridFlowColumn justifyContentBetween text_darkGreyBlue poppinsMedium poppinsMedium_20">
      <li class="nav__item"><a href="">home</a></li>
      <li class="nav__item"><a href="">skills</a></li>
      <li class="nav__item"><a href="">about us</a></li>
      <li class="nav__item"><a href="">pricing</a></li>
      <li class="nav__item"><a href="">contacts</a></li>
    </ul>
    <a class="btn btn_white btnWhite text_black poppinsRegular poppinsRegular_24" href="">let's talk</a>
  </nav>
</header>