<header class="container header grid">
  <nav class="navbar col_12 display_grid  gridFlowColumn justifyContentBetween alignItemsCenter">
    <a class="poppins_regular fontSize_36 lineHeight_54 text_black" href="">brit<span class="text_paleBlue">lex</span></a>
    <ul class="nav display_grid gridFlowColumn justifyContentBetween text_darkGreyBlue poppins_medium fontSize_20 lineHeight_30">
      <li class="nav__item"><a href="">home</a></li>
      <li class="nav__item"><a href="">skills</a></li>
      <li class="nav__item"><a href="">about us</a></li>
      <li class="nav__item"><a href="">pricing</a></li>
      <li class="nav__item"><a href="">contacts</a></li>
    </ul>
    <a class="btn_style btn_styleWhite btn btnHeader text_black poppins_regular fontSize_24 lineHeight_70" href="">let's talk</a>
  </nav>
</header>