<section class="container grid hero hero_bg">
  <div class="col_5 hero__left hero_leftBg">
    <h1 class="text_black poppins_semibold fontSize_64 lineHeight_80">
      Learn<br>
      Any Foreign<br>
      Language
    </h1>
    <p class="hero__leftParagraph poppins_regular text_manatee fontSize_24 lineHeight_36">
      With our teachers who write a program for<br>
      each student, you will be able to make your<br>
      first sketch after the first lesson.
    </p>
    <a class="btn_style btn_styleBlack btn_styleHero btn btnHero text_white poppins_regular fontSize_36 lineHeight_54" href="">Get started</a>
  </div>
</section>