<section class="container grid hero">
  <div class="hero__container">
    <h1 class="hero__title">
      Learn Any 
      Foreign
      Language
    </h1>
    <p class="hero__paragraph">
      With our teachers who write a program for
      each student, you will be able to make your
      first sketch after the first lesson.
    </p>
    <a class="btn_style btn_styleHero btn btnHero" href="">Get started</a>
  </div>
</section>