<section class="container grid pricing">
  <h2 class="col_12 justifySelfCenter">pricing</h2>
  <ul class="col_12 grid pricing__container">
    <li class="col_4 pricing__item">
      <h2 class="pricing__itemTitle pricing_itemTitle">Self-study online course</h2>
      <p class="pricing__itemParagraph">
        Start learning English online in live classes<br>
        with qualified EC teachers and students<br>
        from all over the world.
      </p>
      <div class="pricing__itemPrice pricing_itemPrice">£5.99<span class="pricing__itemPriceText pricing_itemPriceText">per month</span></div>
    </li>
    <li class="col_4 pricing__item">
      <h2 class="pricing__itemTitle pricing_itemTitle">Live online classes</h2>
      <p class="pricing__itemParagraph">
        Interactive group classes with expert<br>
        teachers. Free 7-day trial
      </p>
      <div class="pricing__itemPrice pricing_itemPrice">£12.99<span class="pricing__itemPriceText pricing_itemPriceText">per month</span></div>
    </li>
    <li class="col_4 pricing__item">
      <h2 class="pricing__itemTitle pricing_itemTitle">Personal Tuition</h2>
      <p class="pricing__itemParagraph">
        Online one-to-one English tutoring – enjoy<br>
        our first session for only $1
      </p>
      <div class="pricing__itemPrice pricing_itemPrice">£20.99<span class="pricing__itemPriceText pricing_itemPriceText">per month</span></div>
    </li>
  </ul>
</section>