<section class="container grid skills">
  <h2 class="col_12 justifySelfCenter">skills</h2>
  <ul class="col_12 grid skills__container">
    <li class="skills__item skills_item col_4 row_5">
      <h3 class="skills__itemTitle skills_itemTitle">Speaking</h3>
      <p class="skills__itemParagraph skills_itemParagraph">
        Improve your English skills and confidence.
        Live classes and interactive lessons online.
        20% extra free for a limited time only
        <span class="skills__itemDivider"></span>
        Learn English online and improve your
        skills through our high-quality courses
        and resources – all designed for adult
        language learners.
      </p>
      <a class="btn btnSkills btn_style" href="">Learn more</a>
    </li>
    <li class="skills__item skills_item colStart_5 col_4 row_3">
      <h3 class="skills__itemTitle skills_itemTitle">Writing</h3>
      <p class="skills__itemParagraph skills_itemParagraph">
        One of the most important and extensive
        areas of natural science, the science that
        studies substances, also their composition
      </p>
      <a class="btn btnSkills btn_style" href="">Learn more</a>
    </li>
    <li class="skills__item skills_item colStart_9 col_4 row_3">
      <h3 class="skills__itemTitle skills_itemTitle">Reading</h3>
      <p class="skills__itemParagraph skills_itemParagraph">
        Perception and response actions of the
        user resulting from the use and/or
        upcoming use of the product, system or
        service
      </p>
      <a class="btn btnSkills btn_style" href="">Learn more</a>
    </li>
    <li class="skills__item skills_item colStart_5 col_8 row_2">
      <h3 class="skills__itemTitle skills_itemTitle">Listening</h3>
      <p class="skills__itemParagraph skills_itemParagraph">
        Here you can find activities to practise
        your listening skills. Listening will help you
        to improve your understanding
      </p>
      <a class="btn btnSkills btn_style" href="">Learn more</a>
    </li>
  </ul>
</section>