<section class="container grid skills">
  <h2 class="col_12 justifySelfCenter poppins_semibold fontSize_48 lineHeight_80 text_black">skills</h2>
  <div class="col_12 grid skills__container">
    <div class="skills__item skills_item  col_4 row_5">
      <h3 class="poppins_semibold fontSize_30 lineHeight_40 text_darkGreyBlue skills__itemTitle">Speaking</h3>
      <p class="poppins_regular fontSize_16 lineHeight_24 text_manatee skills__itemParagraph">
        Improve your English skills and confidence.<br>
        Live classes and interactive lessons online.<br>
        20% extra free for a limited time only<br>
        <span class="skills__itemDivider"></span>
        Learn English online and improve your<br>
        skills through our high-quality courses<br>
        and resources – all designed for adult<br>
        language learners.
      </p>
      <a class="btn btnSkills btn_style btn_styleBlack text_white poppins_medium fontSize_18 lineHeight_26" href="">Learn more</a>
    </div>
    <div class="skills__item skills_item colStart_5 col_4 row_3">
      <h3 class="poppins_semibold fontSize_30 lineHeight_40 text_darkGreyBlue skills__itemTitle">Writing</h3>
      <p class="poppins_regular fontSize_16 lineHeight_24 text_manatee skills__itemParagraph">
        One of the most important and extensive<br>
        areas of natural science, the science that<br>
        studies substances, also their composition
      </p>
      <a class="btn btnSkills btn_style btn_styleBlack text_white poppins_medium fontSize_18 lineHeight_26" href="">Learn more</a>
    </div>
    <div class="skills__item skills_item colStart_9 col_4 row_3">
      <h3 class="poppins_semibold fontSize_30 lineHeight_40 text_darkGreyBlue skills__itemTitle">Reading</h3>
      <p class="poppins_regular fontSize_16 lineHeight_24 text_manatee skills__itemParagraph">
        Perception and response actions of the<br>
        user resulting from the use and/or<br>
        upcoming use of the product, system or<br>
        service
      </p>
      <a class="btn btnSkills btn_style btn_styleBlack text_white poppins_medium fontSize_18 lineHeight_26" href="">Learn more</a>
    </div>
    <div class="skills__item skills_item colStart_5 col_8 row_2">
      <h3 class="poppins_semibold fontSize_30 lineHeight_40 text_darkGreyBlue skills__itemTitle">Listening</h3>
      <p class="poppins_regular fontSize_16 lineHeight_24 text_manatee skills__itemParagraph">
        Here you can find activities to practise<br>
        your listening skills. Listening will help you<br>
        to improve your understanding
      </p>
      <a class="btn btnSkills btn_style btn_styleBlack text_white poppins_medium fontSize_18 lineHeight_26" href="">Learn more</a>
    </div>
  </div>
</section>