// Button

.btn {
  display: grid;
  align-items: center;
  white-space: nowrap;
  text-align: center;

  &Header {
    height: 70px;
    width: 220px;
  
    border-width: 2px;
  }
  
  &Hero {
    height: 118px;
    width: 438px;
  }

  &Skills {
    height: 60px;
    width: 230px;
  }

}


.btn_style {
  border-style: solid;
  border-radius: 5px;

  &White {
    text-transform: capitalize;
    border-color: $colorDarkGreyBlue;
  }

  &Black {
    text-transform: none;
    background-color: $colorBlack;
  }

  &Hero {
    border-radius: 15px;
  }

}