.aboutUs {
  padding-top: 150px;
  padding-bottom: 229px;

  background-image: url(../../img/about-us/business-competition.png);
  background-position: right 3.3% top 39%;

  &__item {
    text-align: center;
  }

  &__leftParagraph {
    padding-top: 20px;
    padding-bottom: 55px;
  }

  &__itemStatistics {
    display: block;
    padding-bottom: 10px;

    @include fontSize(48);
    @include lineHeight(50);
  }

  &__itemStatisticsText {
    display: block;

    @include fontSize(20);
    @include lineHeight(30);
  }
}