.contactUs {
  padding-top: 260px;
  padding-bottom: 220px;

  background-image: url(../../img/contact-us/contact-us.png);
  background-position: top 58% left;

  &__paragraph {
    padding-top: 37px;
    padding-bottom: 50px;
  }
}

.formSub {
  padding-right: 30px;

  &__input {
    padding-right: 33px;
    padding-left: 33px;
    padding-top: 29px;
    padding-bottom: 29px;
    width: 450px;
    border-width: 1px;
  
    &::placeholder {
      @include fontSize(16);
      @include lineHeight(24);
      color: $colorManatee;
  
    }
  }

  &_input {
    border-style: solid;
    border-color: $colorManatee;
    border-radius: 10px;
  }
}
