.contactUs {

  padding-top: 260px;
  padding-bottom: 220px;

  background-image: url(../../img/contact-us/contact-us.png);
  background-position: top 58% left;

  &__paragraph {
    padding-top: 37px;
    padding-bottom: 50px;
  }
}

.formSub {

  &__input {
    padding-right: 33px;
    padding-left: 33px;
    padding-top: 27px;
    padding-bottom: 27px;
    margin-right: 8px;
    width: 450px;
    border-width: 1px;

    @include fontSize(16);
    @include lineHeight(24);
  }

}
