.contactUs {

  padding-top: 264px;
  padding-bottom: 220px;

  background-image: url(../../img/contact-us/contact-us.png);
  background-position: top 58% left;

  &__paragraph {
    padding-top: 34px;
    padding-bottom: 51px;
  }
}