.footer {
  padding-top: 32px;
  padding-bottom: 63px;

  border-top-width: 1px;

  &_style {
    border-style: solid;
    border-color: $colorSilverCrayola;
  }

  &__navItem:nth-child(2n) {
    padding-right: 4px;
    padding-left: 4px;
  }
}