.footer {
  padding-top: 32px;
  padding-bottom: 63px;

  border-top-width: 1px;

  &__nav {
    @include fontSize(24);
    @include lineHeight(36);
  }

  &__navItem:nth-child(2n) {
    padding-right: 4px;
    padding-left: 4px;
  }
}