/* Grid */

.grid {
  display: grid;
  grid-template-columns: repeat($templateColumns, minmax(0, 1fr));
  gap: $gap;
}

.gridFlowColumn {
  grid-auto-flow: column;
}

/* Column span */

.col-2 {
  grid-column-end: span 2;
}

.col_3 {
  grid-column-end: span 3;
}

.col_4 {
  grid-column-end: span 4;
}

.col_5 {
  grid-column-end: span 5;
}

.col_6 {
  grid-column-end: span 6;
}

.col_7 {
  grid-column-end: span 7;
}

.col_8 {
  grid-column-end: span 8;
}

.col-9 {
  grid-column-end: span 9;
}

.col-10 {
  grid-column-end: span 10;
}

.col-11 {
  grid-column-end: span 11;
}

.col_12 {
  grid-column-end: span 12;
}

/* Column star */

.col-start-2 {
  grid-column-start: 2;
}

.col-start-3 {
  grid-column-start: 3;
}

.colStart_4 {
  grid-column-start: 4;
}

.colStart_5 {
  grid-column-start: 5;
}

.colStart_6 {
  grid-column-start: 6;
}

.col-start-7 {
  grid-column-start: 7;
}

.col-start-8 {
  grid-column-start: 8;
}

.colStart_9 {
  grid-column-start: 9;
}

.col-start-10 {
  grid-column-start: 10;
}

.col-start-11 {
  grid-column-start: 11;
}

.col-start-12 {
  grid-column-start: 12;
}

/* Row span */

.row_2 {
  grid-row-end: span 2;
}

.row_3 {
  grid-row-end: span 3;
}

.row_5 {
  grid-row-end: span 5;
}

/* Justify self */

.justifSelfEnd {
  justify-self: end;
}

.justifySelfStart {
  justify-self: start;
}

.justifySelfCenter {
  justify-self: center;
}

/* Align self */

.self-start	{
  align-self: start;
}

.self-end	{
  align-self: end;
}

.self-center {
  align-self: center;
}

/* Align item */

.alignItemsCenter {
  align-items: center;
}

/* Align content */

.align-content-center {
  align-content: center;
}

/* Justify items */

.justify-items-end {
  justify-items: end;
}

.justify-items-center {
  justify-items: center;
}


/* Justify content */

.justifyContentBetween {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}