@media (max-width: breakpoint(lg) ) {

  // Variables

  $containerWidth: 930px;

  // Container

  .container {
    max-width: calc($containerWidth + $containerPaddings * 2);
  }

  // Base

  h1,
  h2,
  h3 {
    @include fontSize(36);
  }

  p {
    @include fontSize(16);
    @include lineHeight(24);
  }

  // Site name

  .siteName {
    @include fontSize(30);
    @include lineHeight(45);
  }

  // Header

  .header {
    padding-top: 31px;
    padding-bottom: 31px;

    &__nav {
      width: 57vmin;

      @include fontSize(16);
      @include lineHeight(24);
    }
  }

  // Button

  .btn {

    &Header {
      width: 160px;
      height: 50px;
  
      @include fontSize(18);
      @include lineHeight(27);
    }

    &Hero {
      width: 292px;
      height: 80px;

      @include fontSize(24);
      @include lineHeight(36);
    }

    &Skills {
      width: 196px;
      height: 57px;
    }

    &Sub {
      height: 60px;
      width: 193px;
  
      @include fontSize(16);
      @include lineHeight(24);
    }
  }


  // Hero

  .hero {
    padding-top: 48px;
    padding-bottom: 48px;

    background-size: 430px 340px;
    background-position: right 3% bottom 36%;

    &__container {
      background-size: 80px 80px;
      background-position: top 25% right -4%;
    }

    &__title {
      @include fontSize(48);
      @include lineHeight(64);
    }

    &__paragraph {
      padding-top: 24px;
      padding-bottom: 32px;
      margin-right: -50px;

      @include fontSize(20);
      @include lineHeight(30);
    }
  }

  // Skills

  .skills {
    padding-top: 26px;
    padding-bottom: 26px;

    &__container {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &__itemTitle {
      @include fontSize(22);
    }

    &__itemParagraph {
      @include fontSize(13);
      @include lineHeight(20);
      max-width: 236px;
    }

    &__item {

      &:nth-child(1) {
        padding-top: 260px;

        background-position: top 6% left 63%;
        background-size: 235px 209px;

        & .skills__itemTitle{
          padding-bottom: 16px;
        }

        & .skills__itemDivider {
          height: 20px;
        }

        & .skills__itemParagraph {
          padding-bottom: 98px;
        }
      }

      &:nth-child(2) {
        padding-top: 190px;

        background-position: top 12% right 8%;
        background-size: 190px 160px;

        & .skills__itemTitle {
          padding-bottom: 0;
        }

        & .skills__itemParagraph {
          padding-bottom: 13px;
        }
      }

      &:nth-child(3) {
        padding-top: 190px;

        background-position: top 10% left 25%;
        background-size: 185px 150px;

        & .skills__itemTitle {
          padding-bottom: 0;
        }

        & .skills__itemParagraph {
          padding-bottom: 13px;
        }
      }

      &:nth-child(4) {
        padding-top: 29px;

        background-position: bottom 47% right 8%;
        background-size: 225px 142px;
        
        & .skills__itemTitle {
          padding-bottom: 15px;
        }

        & .skills__itemParagraph {
          padding-bottom: 15px;
        }
      }
    }

  }

  // About us

  .aboutUs {
    padding-top: 62px;
    padding-bottom: 125px;

    background-position: right 1% top 46%;
    background-size: 325px 294px;

    &__paragraph {
      padding-top: 12px;
      padding-bottom: 4px;

      max-width: 440px;
    }

    &__itemStatistics {
      padding-bottom: 3px;
  
      @include fontSize(30);
    }
  
    &__itemStatisticsText {
      @include fontSize(16);
      @include lineHeight(24);
    }
  }

  // Pricing

  .pricing {

    &__container {
      padding-top: 0;
      padding-bottom: 0;
    }

    &__item {
      padding-top: 234px;
    }

    &__itemTitle {
      @include fontSize(22);
      @include lineHeight(34);
    }

    &__itemParagraph {
      padding-top: 14px;

      max-width: 280px;
    }

    &__itemPrice {
      @include fontSize(24);
      @include lineHeight(45);
  
      width: 205px;
      height: 45px;
    }

    &__itemPriceText {
      @include fontSize(16);
      @include lineHeight(24);
    }

    &__item:nth-child(1) {
      background-position: left 25% top;
      background-size: 204px 204px;
  
      & .pricing__itemParagraph {
        padding-bottom: 5px;
      }
    }

    &__item:nth-child(2) {
      background-position: left 7% top 13%;
      background-size: 260px 165px;

      & .pricing__itemParagraph {
        padding-bottom: 53px;
      }
    }

    &__item:nth-child(3) {
      background-position: left 36% top;
      background-size: 230px 205px;

      & .pricing__itemParagraph {
        padding-bottom: 53px;
      }
    }
  }

  // Contact us

  .contactUs {
    padding-top: 137px;
    padding-bottom: 194px;

    background-position: top 44% left 2%;
    background-size: 300px 260px;

    &__paragraph {
      padding-top: 2px;
      padding-bottom: 33px;
  
      max-width: 450px;
    }
  }

  // Form subscribe

  .formSub {

    &__input {
      padding-right: 37px;
      padding-left: 37px;
      padding-top: 18px;
      padding-bottom: 18px;
      width: 323px;
  
      @include fontSize(14);
      @include lineHeight(21);
    }
  }

  // Footer

  .footer {
    padding-top: 24px;
    padding-bottom: 22px;

    &__nav {
      @include fontSize(16);
      @include lineHeight(24);
    }

    &__navItem:nth-child(2n) {
      padding-right: 3px;
      padding-left: 3px;
    }
  }

}