.skills {
  padding-top: 91px;
  padding-bottom: 91px;

  &__container {
    width: 100%;
    padding-top: 67px;
    padding-bottom: 67px;
  }

  &__itemTitle {
    @include fontSize(30);
    @include lineHeight(40);
  }

  &_itemTitle {
    color: $colorDarkGreyBlue;
  }

  &__itemParagraph {
    @include fontSize(16);
    @include lineHeight(24);
  }

  &__item {
    padding-left: 39px;
    padding-right: 40px;

    &:nth-child(1) {
      padding-top: 441px;
      padding-bottom: 73px;
  
      background-image: url(../../img/skills/shared-goals.png);
      background-position: top 13.5% left 50%;

      & .skills__itemTitle{
        padding-bottom: 32px;
      }
    
      & .skills__itemDivider {
        display: block;
        height: 23px;
      }
    
      & .skills__itemParagraph {
        padding-bottom: 32px;
      }
    }

    &:nth-child(2) {
      padding-top: 277px;
      padding-bottom: 25px;

      background-image: url(../../img/skills/typewriter.png);
      background-position: top 10% right 17%;

      & .skills__itemTitle {
        padding-bottom: 3px;
      }

      & .skills__itemParagraph {
        padding-bottom: 32px;
      }
    }

    &:nth-child(3) {
      padding-top: 279px;
      padding-bottom: 25px;

      background-image: url(../../img/skills/house-bookshelves.png);
      background-position: top 5% left 25%;

      & .skills__itemTitle {
        padding-bottom: 2px;
      }

      & .skills__itemParagraph {
        padding-bottom: 7px;
      }
    }

    &:nth-child(4) {
      padding-top: 61px;
      padding-bottom: 38px;

      background-image: url(../../img/skills/podcast-audience.png);
      background-position: bottom 43% right 10%;

      & .skills__itemTitle {
        padding-top: 0;
        padding-bottom: 26px;
      }

      & .skills__itemParagraph {
        padding-bottom: 34px;
      }
    }
  }

  &_item {
    border-radius: 10px;
    background-color: $colorSmokyWhite;
  }

}